.homeContainer {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.homeContactsFormContainer {
  position: relative;
}

.fullWidthDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100%;
  background-color: var(--color-blue);
  padding: 20px;
  z-index: -90;
}
.homeCardContainer {
  margin-top: -240px;
  z-index: 90;
  position: relative;
  margin-bottom: 40px;
}
.textInImage {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top:60px;
}
.textInImage h1 {
  margin-bottom: 1rem;
  color: var(--color-font-dark);
  font-size: 3.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.textInImage h3 {
  color: var(--color-font-dark);
}
.aboutProjects {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutProjects h2 {
  margin-bottom: 40px;
  font-weight: bold;
  color: var(--color-font-dark);
}
.formContainerHome {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-blue);
  padding-top: 40px;
  margin-top: 70px;
}
.formContainerHome h2 {
  color: rgb(250, 250, 237);
}
.formContainerHome p {
  color: rgb(250, 250, 237);
  font-size: 20px;
  padding: 60px;
}
.aboutHomePageContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  width: 100%;
  margin-bottom: 80px;
}
.about {
  flex: 0 0 40%;
  padding: 10px;
}
.about p{
  margin-bottom: 40px;
  padding-left: 30px;
}
.aboutHomePageContainer p {
  font-weight: bold;
  font-size: 20px;
  color: rgb(127, 110, 87);
}
.aboutTextContainer h2 {
  font-weight: bold;
  color: rgb(127, 110, 87);
}
.aboutTextContainer h3 {
  margin-top: 20px;
  color: rgb(127, 110, 87);
}
.aboutTextContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  gap: 20px;
  color: rgb(127, 110, 87);
  align-items: center;
}
.aboutText {
  max-width: 1000px;
}
.imageContainer {
  flex: 0 0 60%; 
  padding: 10px; 
}

.imageContainer img {
  width: 100%; 
  height: auto; 
  display: block; 
}
.aboutHomePageContainer img {
  max-width: 140%;
  height: auto;
}
@media (max-width: 1120px) {
  .aboutHomePageContainer {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .aboutHomePageContainer div {
    width: 100%;
    max-width: 100%;
  }

  .aboutHomePageContainer img {
    width: 100%;
    height: auto;
  }
  .textInImage {
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .homeCardContainer {
    margin-top: -140px;
  }
}
/* .homeCardContainer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

/* @media (max-width: 768px) {
  .homeCardContainer {
    top: 90%;
  }
}

@media (max-width: 480px) {
  .homeCardContainer {
    top: 90%;
  }
} */
