.textInImage {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  gap: 20px;
  margin-top:60px;
}
.textInImage h1 {
  margin-bottom: 1rem;
  color: var(--color-font-dark);
  font-size: 3.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.textInImage h3 {
  color: var(--color-font-dark);
}
.portfolioContainer {
  margin-bottom: 60px;
  gap: 60px;
}
