.advantageCardContainer {
  margin-top: -240px;
  z-index: 90;
  position: relative;
  margin-bottom: 80px;
}
.textInImage {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top: 60px;
}
.textInImage h1 {
  margin-bottom: 1rem;
  color: var(--color-font-dark);
  font-size: 3.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.textInImage h3 {
  color: var(--color-font-dark);
  line-height: 1.8;
}
.homeCardContainer {
  margin-top: -162px;
  z-index: 90;
  position: relative;
  margin-bottom: 40px;
}
.textInImage {
  position: relative;
  overflow: hidden;
}
@keyframes textIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.textInImage h1 {
  display: inline;
  font-family: "Lora", serif;
}

.textInImage .letter {
  display: inline-block;
  opacity: 0;
  animation: textIn 2s ease-out forwards;
}

@keyframes slowSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.textInImage h3 {
  opacity: 0;
  animation: slowSlideUp 2s ease-out forwards;
  animation-delay: 1s;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}
.priceContainer {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.advantageContainerPrice {
  background-color: white;
  padding-top: 50px;
}
.contactFormContainerPrice {
  margin-top: 90px;
}

.active {
  opacity: 1;
}
@media (max-width: 768px) {
  .textInImage h1 { 
    font-size: 28px;
  }
  .textInImage h3 {
    font-size: 18px;
  }
  .advantageContainerPrice {
    padding-top: 0;
  }
}
