.advantageCardContainer {
  margin-top: -240px;
  z-index: 90;
  position: relative;
  margin-bottom: 80px;

}
.textInImage {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top:60px;
}
.textInImage h1 {
  margin-bottom: 1rem;
  color: var(--color-font-dark);
  font-size: 3.1em;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.textInImage h3 {
  color: var(--color-font-dark);
}
.homeCardContainer {
  margin-top: -200px;
  z-index: 90;
  position: relative;
  margin-bottom: 40px;
}
/* .logoContainer {
   
    width: 90px;
    height: 90px;
    background-image: url("../../assets/logo.png");
    background-size: cover;
    position: absolute;
    

    z-index: 10;
    transform: translate(-50%, -50%);
    animation: spin 8s infinite linear;
    border:1px solid black;
  } */