.logoContainer {
   
    width: 90px;
    height: 90px;
    background-image: url("../../assets/logo.png");
    background-size: cover;
    position: absolute;
    

    z-index: 10;
    transform: translate(-50%, -50%);
    animation: spin 8s infinite linear;
    border:1px solid black;
  }