.accordion-button:not(.collapsed) {
  background-color: rgba(186, 141, 44, 0.21) !important;
  text-shadow: 0 4px 8px rgba(37, 192, 206, 0.6);
}
.accordion-item {
  margin-bottom: 10px;
}
.accordion-collapse {
  padding-left: 20px;
}
/* ._accordionHeader_1fm6z_23{
  display: flex;
  justify-content: center;
} */
/* @media (max-width: 445px) {
  ._accordionHeader_10ihj_23 h1 {
    margin-left: 120px;
  }
} */

