
.accordionBody p{
    font-size: 18px;
    font-weight: 600;
}

.logo {
  width: 80px;
  height: 80px;
}

.accordionHeader h1 {
  font-size: 25px;
  padding-left: 20px;
}
.accordionHeader {
  border: 2px saddlebrown solid;
 }
 .homeCardContainerMobile{
  position: relative;
  z-index: 1100;
 }
@media (max-width: 390px) {
  .accordionHeader h1 {
    font-size: 22px;
  }
} 
