.accordionBody p {
  font-size: 18px;
  font-weight: 600;
  margin-left: -25px;
  font-family: "Poppins", sans-serif;
}

.logo {
  width: 60px;
  height: 60px;
}

.accordionHeader h1 {
  font-size: 24px;
  padding-left: 90px;
  font-family: "Poppins", sans-serif;
  /* color: rgb(90, 78, 64); */
}
.accordionHeader {
  border: 2px rgb(112, 77, 52) solid;
  width: 100%;
}
.homeCardContainerMobile {
  position: relative;
  z-index: 11;
}
@media (max-width: 420px) {
  .accordionHeader h1 {
    font-size: 21px;
    padding-left: 60px;
  }
}
