ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.homeCardContainerMobile {
  gap: 16px;
}
.accordionBody ul li {
  position: relative;
  font-size: 16px;
}
.accordionBody p {
  font-size: 18px;
  font-weight: 600;
  margin-left: -30px;
}

.logo {
  width: 70px;
  height: 70px;
}

.accordionHeader {
  border: 2px solid rgb(99, 77, 61);
}
.accordionHeader h4{
  padding-left: 12px;
  font-size: 18px;
}

@media (max-width: 445px) {
  .accordionHeader h1 {
    margin-left: 130px;
  }
}
@media (max-width: 391px) {
  .accordionHeader h1 {
    margin-left: 100px;
  }
}
