.aboutHomeContainer h5 {
font-size: 16px;
}
.aboutHomeContainer {
    color: rgb(127, 110, 87);
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-font-dark);
}
.aboutHomeContainer h3{
   font-size: 24px;
}