ul,
li {
  margin: 0; /* Удаление внешних отступов */
  padding: 0; /* Удаление внутренних отступов */
  list-style: none; /* Удаление маркеров списка */
}

.moreCardAccordionBody ul li {
  position: relative;
  font-size: 16px;
}
.moreCardAccordionBody p{
    font-size: 18px;
    font-weight: 600;
}

.moreCardLogo {
  width: 100px;
  height: 100px;
}

.moreCardAccordionHeader h1 {
  margin-left: 230px;
}
.moreCardAccordionHeader {

  border: 2px saddlebrown solid;
}

@media (max-width: 499px) {
  .moreCardAccordionHeader h1 {
    margin-left: 170px;
  }
}
@media (max-width: 450px) {
  .moreCardAccordionHeader h1 {
    margin-left: 150px;
  }
}
@media (max-width: 445px) {
  .moreCardAccordionHeader h1 {
    margin-left: 130px;
  }
}
@media (max-width: 391px) {
  .moreCardAccordionHeader h1 {
    margin-left: 100px;
  }
}
