ul,
li {
  margin: 0; /* Удаление внешних отступов */
  padding: 0; /* Удаление внутренних отступов */
  list-style: none; /* Удаление маркеров списка */
}

.moreCardAccordionBody ul li {
  position: relative;
  font-size: 16px;
}
.moreCardAccordionBody p {
  font-size: 17px;
  font-weight: 400;
  margin-left: -40px;
  font-family: "Poppins", sans-serif;
}

.moreCardLogo {
  width: 65px;
  height: 65px;
}
.accordionItem {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.moreCardAccordionHeader h1 {
  margin-left: 230px;
  font-family: "Poppins", sans-serif;
}
.accordionHeader {
  border: 2px solid rgb(89, 68, 52);
  width: 100%;
}
.accordionHeader h1{
  margin-left: 90px;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
 }
.accordionInHeader {
  border: 1px solid rgb(123, 96, 77);
  width: 100%;
}
.accordionInHeader h1 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 499px) {
  .moreCardAccordionHeader h1 {
    margin-left: 170px;
  }
}
@media (max-width: 450px) {
  .moreCardAccordionHeader h1 {
    margin-left: 150px;
  }
}
@media (max-width: 445px) {
  .moreCardAccordionHeader h1 {
    margin-left: 130px;
  }
}
@media (max-width: 391px) {
  .moreCardAccordionHeader h1 {
    margin-left: 100px;
  }
}
