.formContactComponent {
  position: relative;
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 16px;
}

.fullWidthDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100%;
  background-color: var(--color-blue);
  padding: 20px;
  z-index: -90;
}
.formContainerHome h2 {
  color: rgb(250, 250, 237);
  font-family: "Poppins", sans-serif;
}
.formContainerHome p {
  color: rgb(250, 250, 237);
  font-size: 22px;
  padding: 60px;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 920px) {
  .formContainerHome p {
    padding: 0;
    font-size: 14px;
  }
  .formContainerHome h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .formContactComponent {
    margin-top: 2px;
    padding-top: 12px;
    margin-left: -34px;
    margin-right: -34px;
  }
}
