ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordionBody ul li {
  position: relative;
  font-size: 16px;
}
.accordionBody p {
  font-size: 18px;
  font-weight: 600;
}
.accordionItem {
  border-radius: 3px;
  border: 2px rgb(93, 75, 62);
}
.logo {
  width: 100px;
  height: 100px;
}

.accordionHeader h1 {
  margin-left: 230px;
}
.accordionHeader {
  /* border-radius: 8px; */
  border: 2px solid rgb(93, 75, 62);
}

@media (max-width: 499px) {
  .accordionHeader h1 {
    margin-left: 170px;
  }
}
@media (max-width: 450px) {
  .accordionHeader h1 {
    margin-left: 150px;
  }
}
@media (max-width: 445px) {
  .accordionHeader h1 {
    margin-left: 130px;
  }
}
@media (max-width: 391px) {
  .accordionHeader h1 {
    margin-left: 100px;
  }
}
