.homeCardContainerMobile h5 {
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}
.accordionBody ul li {
  position: relative;
  font-size: 16px;
}
.accordionBody p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 450;
  margin-left: -30px;
}
.accordionHeader p {
  font-family: "Poppins", sans-serif;
  color: rgb(67, 59, 48);
  font-size: 18px;
}

.accordionHeader {
  border: 2px rgb(94, 66, 46) solid;
  width: 100%;
}
.accordionItem {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

@media (max-width: 499px) {
  .accordionHeader h1 {
    margin-left: 170px;
   
    /* padding-right: -230px; */
  }

}
@media (max-width: 450px) {
  .accordionHeader h1 {
    margin-left: 150px;
    /* padding-right: -230px; */
  }
}
@media (max-width: 445px) {
  .accordionHeader h1 {
    margin-left: 130px;
    /* padding-right: -230px; */
  }
}
@media (max-width: 391px) {
  .accordionHeader h1 {
    margin-left: 100px;
    /* padding-right: -230px; */
  }
}
