:root {
  /* fonts */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Arial", sans-serif;

  /* colors */
  --color-primary: rgb(238, 228, 191);
  --color-secondary: rgb(218, 173, 134);
  --color-dark: rgb(190, 152, 107);
  --color-olive: rgb(142, 135, 65);
  --color-blue: rgb(102, 158, 188);
  --color-font: rgb(29, 55, 100);
  --color-font-dark: rgb(76, 59, 47);

  /* font-size */
  --body-font-size: 16px;
  --heading-font-size: 2rem;
}
