.homeCardsHomeCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Отступ между карточками */
  align-items: stretch; /* Это гарантирует, что все карточки будут одной высоты */
  margin-top: 20px;
}

.homeCardsCardContainer {
  width: 16rem; /* Ширина карточки */
  margin-bottom: 3rem; /* Отступ снизу */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавная анимация для трансформации и тени */
  cursor: pointer;
  position: relative; /* Для корректной работы трансформации */
  box-shadow: none; /* Начальное состояние тени */
  display: flex;
  flex-direction: column; /* Колонки, чтобы Card.Body растягивался */
}
.homeCardsCardContainer h1 {
  color: rgb(29, 134, 169);
  font-family: 'Poppins', sans-serif;
}
.homeCardsCardBody p {
  color: rgb(114, 102, 91);
  line-height: 1.9; 
  font-family: 'Poppins', sans-serif;
 
}
.homeCardsCardHeader {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
 
}

.homeCardsLi {
  position: relative;
  font-size: 16px;
  line-height: 1.9; 
  font-family: 'Poppins', sans-serif;

}

.homeCardsLogo {
  width: 80px;
  height: 80px;
}

.homeCardsCardContainer:hover {
  transform: translateY(-20px); /* Приподнимание карточки на 5 пикселей вверх */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Добавление тени снизу */
  border: 1px solid rgb(160, 153, 144) ;
}

.homeCardsCardContainer:hover h1 {
  text-shadow: 0 4px 8px rgba(37, 192, 206, 0.6);
  
}

.homeCardsLi::before {
  content: "•"; /* Символ точки */
  position: absolute;
  top: -5px;
  left: -30px; /* Позиционирует точку в начале элемента */
  color: rgb(0, 162, 255); /* Цвет точки */
  font-size: 20px; /* Размер точки */
  
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

.homeCardsCardContainer {
  width: 22rem;
  flex-wrap: wrap;
  min-height: 28rem;
  margin-bottom: 3rem;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  cursor: pointer;
  position: relative;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  animation: slideInFromRight 1.4s ease-out forwards;
  font-family: 'Poppins', sans-serif; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}