.logo {
  width: 80px;
  height: 80px;
}
.cardHeader {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
.headerText {
  font-size: 23px;
  color: rgb(29, 134, 169);
  font-weight: 600;
}
.aboutText {
  font-size: 16px;
}

.cardContainer:hover {
  transform: translateY(-20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cardContainer:hover h1 {
  text-shadow: 0 4px 8px rgba(37, 192, 206, 0.6);
}
.cardHeader h1 {
  font-size: medium;
  color: rgb(29, 134, 169);
  font-family: "Poppins", sans-serif;
}
.aboutText {
  font-size: 18px;
}
.homeCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Отступ между карточками */
  align-items: stretch; /* Это гарантирует, что все карточки будут одной высоты */
  position: relative;
  z-index: 1;
}

.cardContainer:hover {
  transform: translateY(-20px); /* Приподнимание карточки на 5 пикселей вверх */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Добавление тени снизу */
  border: 1px solid rgb(160, 153, 144);
}
.cardContainer:hover h1 {
  text-shadow: 0 4px 8px rgba(37, 192, 206, 0.6);
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cardContainer {
  width: 22rem;
  margin-top: 36px;
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: slideInFromRight 1.4s ease-out forwards;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
