.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 9999; 
    pointer-events: none;
    padding-right: 40px;
  }
  
  .image {
    max-width: 25vw;
    max-height: 25vh; 
    object-fit: contain; 
    opacity: 0.9; 
  }