.accordionBody ul li {
  position: relative;
  font-size: 16px;
  margin-left: -40px;
}
.accordionBody p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  margin-left: -40px;
}

.logo {
  width: 65px;
  height: 65px;
}

.accordionHeader h1 {
  margin-left: 230px;
  color: rgb(101, 70, 49);
  font-size: 22px;
}
.accordionHeader {
  border: 2px rgb(107, 71, 46) solid;
  border-radius: 8px;
}
.accordionHeader::after {
  border-top: 6px solid rgb(101, 70, 49);
}
.accordionHeader ul,
li {
  color: rgb(99, 98, 85);
  line-height: 1.8;
}
.accordionHeader {
  width: 100%;
}
.accordionItem {
  margin-left: 6px;
  margin-right: 6px;
 
}
@media (max-width: 499px) {
  .accordionHeader h1 {
    margin-left: 170px;
  }
}
@media (max-width: 450px) {
  .accordionHeader h1 {
    margin-left: 150px;
  }
}
@media (max-width: 445px) {
  .accordionHeader h1 {
    margin-left: 130px;
  }
}
@media (max-width: 391px) {
  .accordionHeader h1 {
    margin-left: 100px;
  }
}
