

.carouselItem {
  color: #f8f5f5;
  opacity: 1;
}
.carouselItem h4 {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.carouselItem h3 {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
  }
@media (max-width: 768px) {
  .carouselItem h4 {
    font-size: 11px;
    color: white;
  }
  .carouselItem h3 {
    font-size: 12px;
  }
}
.blockContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blockItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.imageContainer {
  width: 100%;
 
}

.textContainer {
  width: 50%;
  padding: 20px;
}
.textContainer h4{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.imageLeft {
  flex-direction: row-reverse;
}

.imageRight {
  flex-direction: row;
}
.buttonComponent {
  margin-top: 60px;
}