.blockContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blockItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.imageContainer {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.textContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.buttonComponent {
  margin-top: 30px;
  text-align: center;
}
.textContainerRow {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  width: 100%;
  padding: 10px;
  gap: 14px;
  margin-top: 40px; 
}

.textContainer h3 {
  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(109, 63, 42);
}
.textContainerFooter {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.textContainerFooter h5{
  line-height: 1.5;
  color: rgb(84, 56, 43);
}
.textContainerRow h5 {
  flex: 1;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: rgb(84, 56, 43);
}
@media (max-width: 768px) {
  .carouselItem h5 {
    font-size: 11px;
    color: white;
  }
  .carouselItem h3 {
    font-size: 12px;
  }
  .textContainerRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    width: 100%;
  }
  .textContainerRow h5 {
    font-size: 12px;
  }
  .textContainerFooter h5{
    font-size: 12px;
  }
  .image {
    height: 280px;
  }
}
