.navbarContainer {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
  top: 0;

}
.navbar {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: end;
  right: 60px;
  height: 110px;
  width: 100%;
}
.navbarContainer.scrolled {
  background-color: var(--color-primary);
}

.navbar > a {
  font-size: 24px;
  margin: 30px;
  text-decoration: none;
  color: rgb(154, 129, 98);
  display: flex;
  position: relative;
  overflow: hidden;
}

.navbar > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-font);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.navbar > a:hover::after {
  transform: scaleX(1);
}

.navbar > a:global.active {
  font-size: 28px;
  color: var(--color-font-dark);
}
.logoContainer {
  margin-left: 0;
  width: 90px;
  height: 90px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 10;
  transform: translate(-50%, -50%);
  animation: spin 8s infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.languageIcon {
  position: absolute;
  right: 20px;
  top: 38px;
  margin-left: 20px;
  z-index: 1000;
  color: rgb(83, 83, 81);
  cursor: pointer;
  font-size: 22px;
}
.languageDropdown {
  position: fixed;
  top: 0 px;
  right: 0;
  z-index: 1000;
  color: rgb(24, 24, 23);
  cursor: pointer;
  background-color: rgb(199, 199, 178);
  border: 1px solid rgb(171, 167, 167);
  cursor: pointer;
  font-size: 14px;
}
.burgerInHeader {
  margin-top: 16px;
  font-size: large;
}
@media screen and (max-width: 1250px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 8px;
  }
  .navbar > a {
    margin-top: 5px;
    margin: 0;
    font-size: 22px;
  }
  .navbar > a:global.active {
    font-size: 26px;
  }
  .burgerInHeader {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 8px;
  }
  .navbar > a {
    margin-top: 5px;
    margin: 0;
    font-size: 18px;
  }
  .navbar > a:global.active {
    font-size: 22px;
  }
  .burgerInHeader {
    display: none;
  }
  .logoContainer {
    left: 90px;
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 726px) {
  .navbar {
    display: none;
  }
  .burgerInHeader {
    display: block; 
  }
  .logoContainer {
    left: 90px;
    width: 65px;
    height: 65px;
  }
}
