.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 100;
  height: auto;
  top: 0;
  box-sizing: border-box;
  width: 100%;
}
.myContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px; 
  margin-right: 30px;
  /* position: relative; */
}
.navbarContainer.scrolled {
  background-color: var(--color-primary);
}
.menuConteiner{
  display: flex;
  align-items: center;
}
.logoContainerStyle{
  width: 90px;
  height: 90px;
  position: relative;
}
.logoContainer {
  width: 90px;
  height: 90px;
  background-image: url("../../assets/logo.png");
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 50px;
  z-index: 10;
  transform: translate(-50%, -50%);
  animation: spin 8s infinite linear;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.languageIcon {
  position: relative;
  color: rgb(83, 83, 81);
  cursor: pointer;
  margin-left: 50px;
  font-size: 22px;

}
.languageDropdown {
   position: relative;
  top: 0 px;
  z-index: 1000;
  color: rgb(24, 24, 23);
  cursor: pointer;
  background-color: rgb(199, 199, 178);
  border: 1px solid rgb(171, 167, 167);
  cursor: pointer;
  font-size: 14px;
  right: 30px;
}
.burgerInHeader {
  font-size: large;
}
@media screen and (max-width: 1850px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 8px;
  }
  .navbar > a {
    margin-top: 5px;
    margin: 0;
    font-size: 22px;
  }
  .navbar > a:global.active {
    font-size: 26px;
  }
}
@media screen and (max-width: 960px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 8px;
  }
  .navbar > a {
    margin-top: 5px;
    margin: 0;
    font-size: 18px;
  }
  .navbar > a:global.active {
    font-size: 22px;
  }

  .logoContainer {
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 726px) {
  .logoContainer {
    width: 65px;
    height: 65px;
  }
}
